body{
    background-image: url(https://c.tenor.com/sWQwKN-b5voAAAAC/hacked-you-have-been-hacked.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
pre{
    color: #e6f0e7;
    font-size: 15px;
    font-family: monospace;
}

#ol{
    -webkit-box-shadow: 0 0 0px 10px  #f1f7f5;
    -moz-box-shadow: 0 0 0 10px  #f1f7f5;
    -ms-box-shadow: 0 0 0 10px  #f1f7f5;
    box-shadow: 0 0 0 10px #f1f7f5;
}
