body{
    background-image: url(https://lh3.googleusercontent.com/proxy/4z8JF568IkQkpSWs9xcNNL84hkJqiZw90YI3PlwIT1nptOdszOGTQXadEBYXpbTYx1oxaXJE);
    background-size: 100%;
}
pre{
    color: #e6f0e7;
    font-size: 15px;
    font-family: monospace;
}

#ol{
    -webkit-box-shadow: 0 0 0px 10px  #f1f7f5;
    -moz-box-shadow: 0 0 0 10px  #f1f7f5;
    -ms-box-shadow: 0 0 0 10px  #f1f7f5;
    box-shadow: 0 0 0 10px #f1f7f5;
}
